.home-container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    padding: 8px;
    /* border: 1px solid black; */
}

.paper {
    padding: 3px;
}

.scroll-container {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.scroll-list {
    border: 1px solid black;
    overflow-y: scroll;
    height: 65%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}